@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');



body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    margin: 0; /* marges  exterieur */ 
}
.container{
width: 60%;
/**
* applique des marges exterieurs sur 
* l'espace disponible seulement si une largeur fixe a ete precisee 
*/ 
margin: auto;
}

    /**
    * barre de navigation
    */

nav{
background-color: rgba(0, 0, 0, 0.85); /* color de fond */
text-transform: uppercase; /* met le texte en majuscule */
position: fixed;
top: 0;
left: 0;
right: 0;
opacity: 0.5;

}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/** Toujours presciser la balise "a" pour effectuer des changements */
/* l'espace represente " a l'interieur de ... "*/
nav a{
    color: white; /* color de la police de caracteres */
    text-decoration: none; /* Enleve le soulignelment de lien */
    font-weight: bold;  /* Mettre le texte en gras */
}
nav ul {
    display: flex; /* permet de diposer les elements les uns a cote des autres */
    list-style: none; /* Retir les elements decoratifs commes les points */
    gap: 20px; /*  l'ecart entre les elements*/

}
/**
* Header
*/
header{
background: linear-gradient(to right, #e71969, #f56306);
color:white;
text-align: center; /* Alignement horizontal du texte */
/*padding-top: 215px;/* marges interieurs 
padding-bottom: 215px;*/
/*padding: 215px 0 215px 0;  Dans l ordre : haut droite bas gauche */
padding: 215px 0 ; /* Dans l ordre : haut bas et droite : gauche */
/*padding: 215px ;  les 4 cotes prennent une valeur */
}
header h1{
font-size: 6rem;
margin: 0;

}
header h2{
    font-size: 4rem;
    margin: 10px 0 80px 0 ; /**  10px haut , 0 droite , 80px bas , 0 gauche */
}
.btn{
    color: white;
text-decoration: none;
text-transform: uppercase;
background-color: #991e5f;
padding: 30px 45px; /* 30 px haut et bas , 45px droite et gauche */
border-radius: 100px; /* Arrondis les bords */
letter-spacing: 0.2rem; /* Espacement entre les letters */
 }
 /* hover s'enclenche des que la souris survole l' elements * ATTENTION ! pas d'espace avant et apres le "!"*/
 .btn:hover{
background-color: #ff2400;
transition: all 500ms;/* oermet d'ajouter une transition entre les changements de valeurs*/
}
main section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
    margin: 150px 0;
}
main section img{
    width: 170px;
    height: 170px;
    border-radius: 100%;
    object-fit: cover;
}
main section h3{
font-size: 4rem;
margin: 0;
font-weight: lighter;
}
/* Footer*/ 
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
    border-top: 1px solid grey;
    
}


